// Mobile first

@media #{$breakpoint-xs-only} { }

@media #{$breakpoint-sm-up} {
	header hgroup {
		margin-bottom: $spacing-xl;
	}
	header #portrait {
		background-image: url(../images/portrait_orig.jpg);
		background-size: contain;
		background-position: 100% 100%;
		background-color: $content;
		background-repeat: no-repeat;
		position: absolute;
		z-index: 0;
		top: 0;
		left: 0%;
		right:0;
		bottom:0;
		@include border-radius(0);
		border: none;
		width: auto;
		height: auto;
		margin: 0;
	}
	section {
		overflow:hidden;
	}
	.device {
		position: relative;
		img {
			width: 500px;
			position: absolute;
			left: 50%;
			margin-left: -250px;
		}
	}
	#booking-messaging .device img {
		width: auto;
	}
	#booking-hostels .device img {
		width: 1200px;
		max-width: 150%;
	}
}
@media #{$breakpoint-sm-only} { }

@media #{$breakpoint-md-up} { }
@media #{$breakpoint-md-only} { }

@media #{$breakpoint-lg-up} { }
@media #{$breakpoint-lg-only} { }

@media #{$breakpoint-xl-up} { }

@media (hover: none) {
    .mouse-only { display: none; }
}

@media (hover: hover) {
	.touch-only { display: none; }
	#more-work-grid {
		a {
			position: relative;
			color: #fff;
			display:block;
			.caption {
				color: #fff;
			}
			img {
				display:block;
			}
			hgroup {
				margin:0;
				position: absolute;
				text-align:center;
				top:0;
				right:0;
				bottom:0;
				left:0;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				width: 100%;
				background: rgba(0,0,0,0.66);
				opacity:0;
				@include transition(opacity, .2s)
			}
			&:hover {
				hgroup {
					opacity:1;
				}
			}
		}
	}
}