$sans-serif: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$serif: Georgia,Times,Times New Roman,serif;

* {
    -webkit-font-smoothing: antialiased;
    moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

body, p, ol, ul, li {
    font-family: $sans-serif; 
    font-weight: 400; 
    font-size: 16px;
    line-height: 24px;
}
p, .body, h5, h6, ul, ol, hgroup {
    margin: 0 0 $spacing-md;
}
h1, h2, h3, h4 {
    margin: $spacing-lg 0 $spacing-md;
}
hgroup {
    h1, h2, h3, h4, h5, h6, p {
        margin: 0;
    }
}
h1, h2, h3, h4 {
    font-family: $serif;
    font-weight: 700;
}
h1, .display-one {
    font-size: 72px;
    line-height: 88px;
}
h2, .display-two {
    font-size: 48px;
    line-height: 56px;
}
h3, .display-three {
    font-size: 32px;
    line-height: 36px;
}
h4, .heading {
    font-size: 24px;
    line-height: 28px;
}
h5, .featured {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    text-transform: uppercase;
}
h6, .bold {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
}
caption, .caption {
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    margin: 0;
}