$sans-serif: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$serif: Georgia,Times,Times New Roman,serif;

* {
    -webkit-font-smoothing: antialiased;
    moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

body {
    font-family: $sans-serif; 
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}
h1, h2, h3, h4 {
    font-family: $serif; 
    margin: 0 0 $spacing-double;
    font-weight: 700;
}
h1, .display-one {
    font-size: 72px;
    line-height: 86px;
}
h2, .display-two {
    font-size: 48px;
    line-height: 52px;
}
h3, .display-three {
    font-size: 32px;
    line-height: 36px;
}
h4, .heading {
    font-size: 24px;
    line-height: 28px;
}
h5, .featured {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0 0 $spacing-base;
}
h6, .bold {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    margin: 0 0 $spacing-base;
}
p, .body {
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 $spacing-base;
}
caption, .caption {
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
}