.button, .button:visited {
    background: $action;
    color: $light-content;
    border: none;
    padding: $spacing-md $spacing-lg;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    @include border-radius(100px);
    &:hover {
        background: $action-hover;
        color:#fff;
    }
    &--secondary {
        border: 1px solid $action;
        color: $action;
        background: none;
        &:hover {
            background: none;
            border-color: $action-hover;
            color: $action-hover;
        }
    }
    &.disabled {
        background: $content-alt;
    }
}

.dark .button--secondary {
    color: $light-content;
    border-color: $light-content;
    &:hover {
        color: $light-content-alt;
        border-color: $light-content-alt;
    }
}